body {
    background: #2ecc71;
}

#heading {
    text-align: center;
    background: #0be881;
}

#container {
    /* width: 1000px; */
    background: #4bcffa;
}

#content .dino {
    background: #0fbcf9;
    height: 260px;
    padding: 10px;
    margin: 0px;
}

#content .dino .pic_left {
    float: left;
    height: 240px;;
}

#content .dino .story_right {
    background: #2980b9;
    float: right;
    padding: 10px;
    width: 700px;
    color: #ffffff;
}

#content .dino .pic_right {
    float: right;
    /* height: px; */
}

#trex {
    /* height: 250px; */
    width: 460px;
    background: white;
}

#steg {
    width: 460px; 
    background: #ffffff;
}

#content .dino .story_left {
    background: #2980b9;
    float: left;
    padding: 10px;
    width: 700px;
    margin: 10px;
    color: #ffffff;
}

#footer {
    height: 50px; 
    background: #0984e3;  
}

#footer p {
    margin: 0;
    background: #74b9ff;
    text-align: center;
    color: #fff;
  }
